.container {
    position: fixed;
    width: 100%;
    bottom: 50%;
    text-align: center;
    left: 0%;
    padding-top: 20%;
}

.container img {
    width: 100%;
    max-width: 80%;
}

.container h1 {
    color: #fff;
    margin: 0;
    top: 150px;
    position: relative;
    font-size: 24px;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    .container {
        bottom: 40%;
        padding-top: 20%;
    }
    .container img {
        width: 100%;
        max-width: 80%;
    }
    .container h1 {
        top: 120px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        bottom: 30%;
        padding-top: 20%;
    }
    .container img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 80%;
    }
    .container h1 {
        top: 90px;
        font-size: 16px;
    }
}
