.container {
   
    width: 100%;
  
    text-align: center;
    padding-top: 20%;
    
}

.container img {
    width: 100%;
    max-width: 80vw;
}

.container h1 {
    color: #fff;
    margin: 0;
    padding-top: 100px;
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
    font-family: sans-serif;
}
